<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>OnursMovies</title>
</head>
<body>
  
</body>
</html>



<h1>Search for a movie in Onur's Archive</h1>


<form action="/results" method="GET">
    <input id="inp" type="text" placeholder="Search!" name="search">
    <input type="submit" value="Submit">
</form>
<p>
    Handcrafted with love and care by <a href="https://onurusluca.me/">Onur Usluca</a></p>
<style>
       body {
        font-family:Georgia, 'Times New Roman', Times, serif;
        background:rgb(248, 221, 244);
    }
    h1, form {
        text-align: center;
        margin-top: 5vh;

    }
    #inp {
        height: 30px;
        width: 200px;
    }
    input {
        height: 30px;
    }
    p {
        text-align: center;
    }
</style>